html, body, html body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, {
  width: 100%;
  height: 100%;
  /* perspective: 1000px; */
}
#container {
   background: #d5d5d5;
   margin: 0px auto;
   width: 600px;
   color: red;
   display: grid;
   grid-gap: 1px;

 }

 .grid {

   background: white;
   border: 1px solid red;
   border-radius: 6%;


 }
